<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>BlogApp</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="form">
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="email"
        placeholder="email">
        <input type="text" name="text"
        placeholder="What are your toughts today ?">
        <input type="submit" name="Post">
    </form>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>